@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@600&display=swap'); /* main title h2 font */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap'); /* Developement credits font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); /* footer text */

*{
    box-sizing: border-box;
    text-align: center;
}

.main-title {
    margin: 0px;
    background-color: #3e1dbb;
    color: #fff;
    font-size: 56px;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
}

.gradient-buffer {
    background-image: linear-gradient(#3e1dbb, #000);
}

body {
    margin: 0px;
}

main {
    background-color: #000;
}

.key-l{
    height: 545px;
    max-width: 200px;
    float: left;   
    padding-top: 270px;
    font-size: 56px;
    color: #3e1dbb;
    background-color: #000;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-style: solid;
    border-color: #3e1dbb;
    border-width: 5px;

}

.key-l:hover {
    transform: scale(1.1);
    height: 545px;
    max-width: 200px;
    float: left;   
    padding-top: 280px;
    font-size: 56px;
    color: #000;
    background-color: #3e1dbb;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-style: solid;
    border-color: #3e1dbb;
    border-width: 5px;
    box-shadow: 20px #3e1dbb;
}

.key-l.playing{
    transform: scale(1.1);
    height: 545px;
    max-width: 200px;
    float: left;   
    padding-top: 280px;
    font-size: 56px;
    color: #000;
    background-color: #3e1dbb;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-style: solid;
    border-color: #3e1dbb;
    border-width: 5px;
}

#bg-image {
    display: inline;
    align-items: center;
    height: 545px;
}

.key-r{
    height: 545px;
    max-width: 200px;
    float: right;   
    padding-top: 270px;
    font-size: 56px;
    background-color: #000;
    margin-right: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-style: solid;
    border-color: #3e1dbb;
    border-width: 5px;
    color:#3e1dbb;
}

.key-r:hover {
    height: 545px;
    max-width: 200px;
    float: right;   
    padding-top: 280px;
    font-size: 56px;
    background-color: #3e1dbb;
    margin-right: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-style: solid;
    border-color: #3e1dbb;
    border-width: 5px;
    color:#000;
    transform: scale(1.1);
}

.key-r.playing{
    height: 545px;
    max-width: 200px;
    float: right;   
    padding-top: 280px;
    font-size: 56px;
    background-color: #3e1dbb;
    margin-right: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-style: solid;
    border-color: #3e1dbb;
    border-width: 5px;
    color:#000;
    transform: scale(1.1);
}

.key-space {
    background-color: #000;
    max-width: 40%;
    margin-left: 35%;
    margin-right: 35%;
    height: 70px;
    font-size: 56px;
    border-style: solid;
    border-color: #3e1dbb;
    border-width: 5px;
    color:#3e1dbb;
}

.key-space.playing {
    background-color: #3e1dbb;
    max-width: 40%;
    margin-left: 35%;
    margin-right: 35%;
    height: 70px;
    font-size: 56px;
    border-style: solid;
    border-color: #3e1dbb;
    border-width: 5px;
    color:#000;
    transform: scale(1.1);
}

.key-space:hover {
    background-color: #3e1dbb;
    max-width: 40%;
    margin-left: 35%;
    margin-right: 35%;
    height: 70px;
    font-size: 56px;
    border-style: solid;
    border-color: #3e1dbb;
    border-width: 5px;
    color:#000;
    transform: scale(1.1);
}

footer {
    background-image: linear-gradient(#000, #3e1dbb);
    padding: 2% 0.5% 2% 0%;
}

.footer-text-credits {
    color: #fff;
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: 28px;
}

.footer-text {
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
